---
title: "Friedman Tutoring - About"
description: "A dedicated educator, Laurie Friedman provides individualized tutoring in reading, writing, math, study skills, organization, time-management, and executive functioning to K-12 students. Laurie supports students who have a wide variety of challenges, including organization and attention issues, and motivational and emotional difficulties that undermine learning. In addition to providing tutoring, on request, Laurie consults with classroom teachers, school administrators, neuropsychologists, and other professionals to promote student learning. Laurie’s goal is to help her students become flexible and self-reflective learners who advocate for themselves and produce their best work."
---
<img src="/img/laurie.png" class="img-responsive img-rounded centered" alt="Laurie Friedman whiteboard image">
<div class="qualifications centered">
    <div>Laurie Friedman, MAT, MBA</div>
    <div>Academic Tutor &amp; Executive Function Coach Newton, MA</div>
    <div>Newton, MA</div>
</div>
<div class="description">
    <p><%= current_page.data.description %></p>
</div>
