---
title: "Friedman Tutoring - About"
description: "A dedicated educator, Laurie Friedman provides individualized tutoring to students in kindergarten through college in: reading, writing, math, study skills, organization, time-management, and executive functioning. Laurie supports students with challenges to learning including: academic, organizational, attentional, motivational, and emotional difficulties. Laurie consults with classroom teachers, school administrators, neuropsychologists, and other professionals as needed to promote student learning. Laurie’s goal is to help her students become flexible and self-reflective learners who advocate for themselves and produce their best work."
---
<%= image_tag "laurie.png", :class => "img-responsive img-rounded centered", :alt => "Laurie Friedman whiteboard image" %>
<div class="qualifications centered">
    <div>Laurie Friedman, MAT, MBA</div>
    <div>Academic Tutor &amp; Executive Function Coach</div>
    <div>Newton, MA</div>
</div>
<div class="description">
    <p><%= current_page.data.description %></p>
</div>
