---
title: Friedman Tutoring
---
<img src="/img/laurie.png" class="img-responsive">

<p>Laurie Friedman is an academic tutor and executive function coach based in Newton, Massachusetts with over sixteen years of experience.</p>

<p>She helps K-12th grade students in reading, writing, math, study skills, organization, time-management, motivation, executive functioning, and ELL fluency.</p>
